<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:include="@{/ty.html}"></div>
	<head>
		<meta charset="utf-8">
		<title>密码修改结果页</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
		<link rel="stylesheet" th:href="@{/css/public.css}" media="all" />
		<script type="text/javascript" th:src="@{/myjs/jquery-1.8.3.js}"></script>
	</head>
	<body>


		<div style="text-align: center;margin-top: 45%;">
			<h1 th:text="${msg}"></h1>

		</div>

		<script type="text/javascript">
			setTimeout(function() {
				// 关闭当前页面
				  window.location.href="about:blank";
				  window.close();
			}, 3000);
		</script>


	</body>
</html>
