<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.home.lh.system.mapper.RoleMapper">

	
	<sql id="key">
		<trim suffixOverrides=",">	
			<if test="id!=null and id!=''">id,</if>
			<if test="name!=null and name!=''">name,</if>
			<if test="modelid!=null and modelid!=''">modelid,</if>
			<if test="menuid!=null and menuid!=''">menuid,</if>
			<if test="bigmenuid!=null and bigmenuid!=''">bigmenuid,</if>
			<if test="remark!=null and remark!=''">remark,</if>
			createtime,
		</trim>
	</sql>

	<sql id="value">
		<trim suffixOverrides=",">
			<if test="id!=null and id!=''">#{id},</if>
			<if test="name!=null and name!=''">#{name},</if>
			<if test="modelid!=null and modelid!=''">#{modelid},</if>
			<if test="menuid!=null and menuid!=''">#{menuid},</if>
			<if test="bigmenuid!=null and bigmenuid!=''">#{bigmenuid},</if>
			<if test="remark!=null and remark!=''">#{remark},</if>
			now(),
		</trim>
	</sql>

	<!-- 查询 -->
	<select id="simpleFoundRole" parameterType="com.home.lh.system.po.Role" resultType="com.home.lh.system.po.Role" >
		select * from Role
		<where>
				isdel=0
			<if test="id!=null and id!=null">
				and id=#{id}
			</if>
			<if test="name!=null and name!=''">and name=#{name}</if>
		</where>
	</select>
	
	
	<!-- 新增 -->
	<insert id="insertRole" parameterType="com.home.lh.system.po.Role" keyProperty="rid" useGeneratedKeys="true">
		insert into Role(<include refid="key"/>) values(<include refid="value"/>)
	</insert>
	<!-- 修改 -->
	<update id="updateRole" parameterType="com.home.lh.system.po.Role">
		update Role 
		<trim prefix="set" suffixOverrides=",">
			<if test="name!=null and name!=''">name=#{name},</if>
			<if test="modelid!=null ">modelid=#{modelid},</if>
			<if test="menuid!=null">menuid=#{menuid},</if>
			<if test="bigmenuid!=null ">bigmenuid=#{bigmenuid},</if>
			<if test="remark!=null and remark!=''">remark=#{remark},</if>
			<if test="isdesable!=null and isdesable!=''">isdesable=#{isdesable},</if>
		</trim>
		where id=#{id}
	</update>
	<!-- 删除  -->
	<update id="deleteRole" parameterType="com.home.lh.system.po.Role">
		update Role set isdel=1 where id = #{id}
	</update>
	<!-- 分页查询 -->
	<select id="pageFoundRole"  resultType="com.home.lh.system.po.Role">
		select * from role r 
		<where>
			isdel = 0 
			<if test="r.name!=null and r.name!=''">and name like '%${r.name}%'</if>
			<if test="r.isdesable!=null and r.isdesable!=''">and isdesable=#{r.isdesable}</if>
		</where>
		 ORDER BY createtime
		<if test="start!=null and end!=null">
			limit #{start} ,#{end}
		</if>
	</select>
	<!-- 查询数量 -->
	<select id="pageCountRole" resultType="java.lang.Integer">
		select count(1) from role 
			<where>
				isdel = 0
				<if test="r.name!=null and r.name!=''">and name like '%${r.name}%'</if>
				<if test="r.isdesable!=null and r.isdesable!=''">and isdesable=#{r.isdesable}</if>
			</where>
	</select>
	
		
	
</mapper>
