<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
	</head>
	<body>
	</body>
	<script type="text/javascript">
		var webname = "[[${application.webname}]]";
		var webip = "[[${application.webip}]]";
		var ftpSource = "[[${application.ftpScource}]]";
		/////////////////////////////////////////////////////
		var tcpPort = "[[${application.tcpPort}]]";
		var tcpIp = "[[${application.tcpIp}]]"
		var webUrl = webip+webname;
	</script>

	<script type="text/javascript">
		function qjty(d) {
			var flag = true;
			if (d.code == -4) {
				layer.alert(d.msg, {
					icon: 7,
					title: '警告'
				}, function() {
					if (window.parent != window) {
						parent.window.location.reload();
					} else {
						window.location.reload();
					}


				})
				flag = false;
			} else if (d.exception != null) {
				layer.msg(d.exception);
				flag = false;
			}
			return flag;
		}
	</script>
</html>
