<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="https://www.pollix.at/thymeleaf/shiro">
	<div th:include="@{/ty.html}"></div>
	<head>
		<meta charset="utf-8" />
		<title>流程管理</title>
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no" />

		<link th:href="@{/Public/css/bootstrap/css/bootstrap.css?2025}" rel="stylesheet" type="text/css" />
		<link th:href="@{/Public/css/site.css?2025}" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" th:href="@{/Public/js/flowdesign/flowdesign.css}" />

		<link rel="stylesheet" type="text/css" th:href="@{/Public/js/jquery.multiselect2side/css/jquery.multiselect2side.css}" />
		<script type="text/javascript" th:src="@{/layui/layui.js}"></script>

	</head>
	
	<script th:inline="javascript">
		 /*<![CDATA[*/
		var processData =[[${remap.object}]]
		
		 /*]]>*/
	</script>
	
	<body>
		<!-- fixed navbar -->
		<div class="navbar navbar-inverse navbar-fixed-top" >
			<div class="navbar-inner" >
				<div class="container" >
					<div class="pull-right" style="position: absolute;right: 5%;">
						<button class="btn btn-primary" type="button" id="dictionary">流程字典表</button>
						 <button class="btn btn-primary" type="button" id="back">返回</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
						<button class="btn btn-info" type="button" id="leipi_save">保存设计</button>
						<button class="btn btn-danger" type="button" id="leipi_clear">清空连接</button>
					</div>

				</div>
			</div>
		</div>
		<!-- Modal -->
		<div id="alertModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3>消息提示</h3>
			</div>
			<div class="modal-body">
				<p>提示内容</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">我知道了</button>
			</div>
		</div>

		<!-- attributeModal -->
		<div id="attributeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		 aria-hidden="true" style="width:800px;margin-left:-350px">
			<div class="modal-body" style="max-height:500px;">
				<!-- body -->
			</div>
			<div class="modal-footer" style="padding:5px;"></div>
		</div>



		<!--contextmenu div-->
		<div id="processMenu" style="display:none;">
			<ul>
				<li id="pmAttribute"><i class="icon-cog"></i>&nbsp;<span class="_label">属性</span></li>
				<li id="pmSetting"><i class=" icon-wrench"></i>&nbsp;<span class="_label">样式</span></li>
				<li id="pmMark"><i class="icon-pencil"></i>&nbsp;<span class="_label">备注</span></li>
				<li id="pmDelete"><i class="icon-trash"></i>&nbsp;<span class="_label">删除</span></li>

			</ul>
		</div>
		<div id="canvasMenu" style="display:none;">
			<ul>
				<li id="cmSave"><i class="icon-ok"></i>&nbsp;<span class="_label">保存设计</span></li>
				<li id="cmAdd"><i class="icon-plus"></i>&nbsp;<span class="_label">添加步骤</span></li>
				<li id="cmRefresh"><i class="icon-refresh"></i>&nbsp;<span class="_label">刷新 F5</span></li>
				<!--li id="cmPaste"><i class="icon-share"></i>&nbsp;<span class="_label">粘贴</span></li-->
				<li id="cmHelp"><i class="icon-search"></i>&nbsp;<span class="_label">帮助</span></li>
			</ul>
		</div>
		<!--end div-->

		<div class="container mini-layout" id="flowdesign_canvas"></div>
		<!-- /container -->
		<script type="text/javascript" th:src="@{/Public/js/jquery-1.7.2.min.js}"></script>
		<script type="text/javascript" th:src="@{/Public/css/bootstrap/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/Public/js/jquery-ui/jquery-ui-1.9.2-min.js}"></script>
		<script type="text/javascript" th:src="@{/Public/js/jsPlumb/jquery.jsPlumb-1.3.16-all-min.js}"></script>
		<script type="text/javascript" th:src="@{/Public/js/jquery.contextmenu.r2.js}"></script>
		<!--select 2-->
		<script type="text/javascript" th:src="@{/Public/js/jquery.multiselect2side/js/jquery.multiselect2side.js}"></script>
		<!--flowdesign-->
		<script type="text/javascript" th:src="@{/Public/js/flowdesign/leipi.flowdesign.v3.js}"></script>
		<script type="text/javascript">
			var the_flow_id = "[[${flowId}]]";
			console.log(the_flow_id);
			/* var processDatastr ="[[${remap.object}]]";
			var processData = JSON.parse(processDatastr);
			console.log(processData); */
		</script>
		
		
	
		<script type="text/javascript" th:src="@{/page/setting/flow/sheji/liucheng.js}"></script>
	</body>
</html>
