@charset "utf-8";
/*索引页面样式*/
.index-body{
    min-width: 1200px;
}
.index-body .layui-layout-admin .layui-footer{
    height: 30px !important;
    line-height: 30px;
    font-size: 12px;
    background-color: #dedede;
}
.index-body .layui-layout-admin .layui-body{
    bottom: 30px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    top: 50px;
    overflow-y: hidden;
}
#indexIframeA{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
}
.index-body .layui-layout-admin .layui-header{
    height: 50px;
    background-color: #ffffff;
    background-image: -moz-linear-gradient( 180deg, rgb(116,116,191) 0%, rgb(52,138,199) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(116,116,191) 0%, rgb(52,138,199) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(116,116,191) 0%, rgb(52,138,199) 100%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15),0 2px 4px 0 rgba(0, 0, 0, 0.12),0 2px 8px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 200px;
    right: 0;
}
.index-body .layui-layout-admin .layui-logo{
    line-height: 50px;
}
.index-body .layui-nav .layui-nav-item{
    line-height: 50px;
}
.index-body .layui-header .layui-nav-child{
    top: 50px;
}
.index-body .layui-layout-admin .layui-side{
    top: 0;
    background-color: #20222A !important;
}

.index-body .layui-nav{
    background-color: #20222A !important;
}
.index-body .layui-header .layui-nav{
    background:none  !important;

}
.index-body .layui-header .layui-layout-left{
    left: 0;
}
.index-body .layui-layout-admin .layui-side .layui-logo{
    position: relative;
    z-index: 1001;
    height: 140px;
    line-height: 140px;
    background-color: #252c3d;
}

.index-body .layui-side .layui-nav-item a .layui-icon{
    margin-right: 6px;
}
.index-body .layui-side .layui-nav-itemed>.layui-nav-child>dd>a{
    padding: 0 20px 0 40px;
}
/*iframe 弹窗自定义样式*/
.pop-class-iframe .layui-layer-title{background:#20222A; color:#fff; border: none;}
.pop-class-iframe .layui-layer-setwin .layui-layer-close1{
    background: url(../images/pop_close_icon.png) no-repeat center;
}
.layui-layer.pop-class-iframe{
    background:none;
}
.pop-class-iframe{}
/*iframe 弹窗自定义样式 END*/
/*索引页面样式 END*/

/*登录页样式*/
.login-page{
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../images/login_bg.jpg") no-repeat center;

}
.login-content{
    width: 1000px;
    height: 540px;
    position: absolute;
    top:50%;
    margin-top: -270px;
    left: 50%;
    margin-left: -500px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
}
.login-content .left{
    float: left;
    width: 560px;
    height: 100%;
    background: url("../images/login_logo.png") no-repeat center;
}
.login-content .left .links{
    width: 500px;
    margin: 500px auto 0 auto;
    line-height: 24px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    opacity: 0.7;
}
.login-content .left .links>a{
    color: #ffffff;
}
.login-content .right{
    float: right;
    width: 440px;
    height: 100%;
    background-color: #ffffff;
}
.login-content .right .login-icon{
    width: 156px;
    height: 158px;
    background: url("../images/login_icon.png") no-repeat center;
    margin: 50px auto 40px auto;
}
.login-page .login-input{
    box-sizing: border-box;
    padding-left: 44px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-radius: 4px;
    background-color: #eeeeee;
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.24);
    position: absolute;
    width: 248px;
    height: 40px;
    color: #666666;
    font-size: 14px;
}
.login-content .input-box{
    width: 248px;
    height: 40px;
    margin: 20px auto 0 auto;
    position: relative;
}
.login-content .input-box .icon{
    z-index: 1000;
    left: 11px;
    top:9px;
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
}
.login-content .input-box .layui-btn{
    border-radius: 4px;
    background-color: #32a8ee;
    box-shadow: 0 4px 5px 0 rgba(50, 168, 238, 0.3);
}
.login-content .input-box.yzm .login-input{
    width: 150px;
}

.login-content .input-box.yzm .yzm-img{
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    background-color: rgb(238, 238, 238);
    width: 90px;
    height: 38px;
    float: right;
}

/*登录页样式 END*/


