<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.home.liuhao.other.liucheng.mapper.FlowMapper">

	<!-- 新增节点 -->
	<insert id="insert" parameterType="com.home.liuhao.other.liucheng.po.Flow"
		keyProperty="flowId" useGeneratedKeys="true">
		insert into flow(flowname,flowcontent,creater,createTime)
		values(#{flowName},#{flowContent},#{creater},now())
	</insert>

	<!-- 删除 -->
	<update id="delete" parameterType="com.home.liuhao.other.liucheng.po.Flow">
		update flow set isdel=1 where flowId=#{flowId}
	</update>
	<!-- 修改 -->
	<update id="update" parameterType="com.home.liuhao.other.liucheng.po.Flow">
		update flow set
		flowname=#{flowName},flowcontent=#{flowContent},updater=#{updater},updateTime=#{updateTime}
		where flowId=#{flowId}
	</update>

	<!-- 查询数量 -->
	<select id="pageCount" resultType="java.lang.Integer">
		select count(1) from flow where isdel=0
	</select>
	<!-- 分页查询 -->
	<select id="pageFound" resultType="com.home.liuhao.other.liucheng.po.Flow">		
		select * from flow 
		<where>
			isdel=0
		</where>
		order by flowid
		<if test="start!=null and end!=null">
			limit #{start} ,#{end}
		</if>
	</select>
	<!-- 禁用or激活 -->
	<update id="isEnble" parameterType="com.home.liuhao.other.liucheng.po.Flow">
		update flow set isendble=#{isendble} where flowId=#{flowId}
	</update>

	<!-- ***************************************************************流程节点****************************************** -->
	<!-- 新增节点 -->
	<insert id="insertNode" parameterType="com.home.liuhao.other.liucheng.po.FlowNode"
		keyProperty="id" useGeneratedKeys="true">
		insert into
		flowNode(flowId,processname,setleft,settop,style,creater,createTime)
		values(#{flowId},#{processname},#{setleft},#{settop},#{style},#{creater},now())
	</insert>

	<!-- 查询节点 -->
	<select id="founNode" parameterType="com.home.liuhao.other.liucheng.po.FlowNode"
		resultType="com.home.liuhao.other.liucheng.po.FlowNode">
		select id,flowId,processname,processto,style,icon from
		flowNode where isdel=0 and flowId =#{flowId}
	</select>

	<!-- 保存步骤信息 -->
	<update id="saveFlowNode" parameterType="java.util.List">
	
		<foreach collection="nodelist" item="item"  separator=";">
			update flowNode 
			<trim prefix="set" suffixOverrides=",">
				<if test="item.processto!=null and item.processto!=''">
					processto=#{item.processto},
				</if>
				<if test="item.settop!=null and item.settop!=''">
					settop=#{item.settop},
				</if>
				<if test="item.setleft!=null and item.setleft!=''">
					setleft=#{item.setleft},
				</if>
				<if test="item.style!=null and item.style!=''">
					style=#{item.style},
				</if>
				updater=#{item.updater},
				updateTime=now(),
			</trim>
			where flowId=#{item.flowId} and id = #{item.id}
		</foreach>
	</update>

	<!-- 根据流程id和id查询样式 -->
	<select id="foundStyle" parameterType="com.home.liuhao.other.liucheng.po.FlowNode"
		resultType="java.lang.String">
		select style from flowNode where isdel=0 and flowId
		=#{flowId} and id=#{id}
	</select>

	<!-- 删除节点 -->
	<update id="deleteNode" parameterType="com.home.liuhao.other.liucheng.po.FlowNode">
		update flowNode set isdel=1 where
		id=#{id} and flowId=#{flowId}
	</update>

	<!-- 根据id查询 -->
	<select id="foundNodeById" parameterType="com.home.liuhao.other.liucheng.po.FlowNode"
		resultType="com.home.liuhao.other.liucheng.po.FlowNode">
		select * from flowNode where isdel=0 and flowId =#{flowId}
		and id=#{id}
	</select>

	<update id="saveNodeByid" parameterType="com.home.liuhao.other.liucheng.po.FlowNode">
		update flowNode set
		<trim suffixOverrides=",">
			<if test="processname!=null and processname!=''">
				processname=#{processname},
			</if>
			<if test="nodeCode!=null and nodeCode!=''">
				nodeCode=#{nodeCode},
			</if>
			<if test="processtype!=null and processtype!=''">
				processtype=#{processtype},
			</if>
			<if test="icon!=null and icon!=''">
				icon=#{icon},
			</if>
			<if test="mark!=null and mark!=''">
				mark=#{mark},
			</if>

			<if test="processto!=null and processto!=''">
				processto=#{processto},
			</if>
			<if test="settop!=null and settop!=''">
				settop=#{settop},
			</if>
			<if test="setleft!=null and setleft!=''">
				setleft=#{setleft},
			</if>
			<if test="style!=null and style!=''">
				style=#{style},
			</if>
			updater=#{updater},
			updateTime=now()
		</trim>
		where flowId=#{flowId} and id = #{id}
	</update>



	<!-- 查询编码是否重复 -->
	<select id="foundCode" parameterType="com.home.liuhao.other.liucheng.po.FlowNode" resultType="com.home.liuhao.other.liucheng.po.FlowNode">
		select * from flowNode where flowId=#{flowId} and nodeCode=#{nodeCode} and isdel=0
	</select>


<!-- *******************************************************字典********************************************* -->
	<!-- 分页查询 -->
	<select id="foundPage" resultType="com.home.liuhao.other.liucheng.po.FlowNode">		
 		select * from flowNode f where isdel=0 and flowId = #{f.flowId}
		order by id
		<if test="start!=null and end!=null">
			limit #{start} ,#{end}
		</if>
 		
 		
	</select>
	<!-- 查询数量 -->
	<select id="foundCount" parameterType="com.home.liuhao.other.liucheng.po.FlowNode" resultType="java.lang.Integer">
		select count(1) from flowNode where isdel=0 and flowId=#{flowId}
	</select>
	
	<!-- 字典新增 -->
	<insert id="insertzdNode" parameterType="com.home.liuhao.other.liucheng.po.FlowNode" useGeneratedKeys="true" keyProperty="id">
		insert into
		flowNode(flowId,processname,processtype,nodeCode,setleft,settop,mark,style,creater,createTime)
		values(#{flowId},#{processname},#{processtype},#{nodeCode},#{setleft},#{settop},#{mark},#{style},#{creater},now())
	</insert>





</mapper>